<!-- <div class="row">
        <div class="col-6">
          <h2>{{ mars.hemispheres[0].title }}</h2>
          <img src="{{ mars.hemispheres[0].img_url }}">
        </div>
        <div class="col-6">
          <h2>{{ mars.hemispheres[1].title }}</h2>
          <img src="{{ mars.hemispheres[1].img_url }}">
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <h2>{{ mars.hemispheres[2].title }}</h2>
          <img src="{{ mars.hemispheres[2].img_url }}">
        </div>

        <div class="col-6">
          <h2>{{ mars.hemispheres[3].title }}</h2>
          <img src ="{ mars.hemispheres[3].img_url }}">
        </div>
      </div> -->